{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% import "macro_functions.html.twig" as mf %}

{% block meta_title %}
	{{ 'Proxmox settings'|trans }}
{% endblock %}

{% set active_menu = 'system' %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ '/'|alink }}">
				<svg class="icon">
					<use xlink:href="#home"/>
				</svg>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a href="{{ 'system'|alink }}">
				{{ 'Settings'|trans }}
			</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			{{ 'Proxmox settings'|trans }}
		</li>
	</ul>
{% endblock %}

{% block content %}
    <div class="card-tabs">
		 <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#tab-general" data-bs-toggle="tab">{{ 'General'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-storage" data-bs-toggle="tab">{{ 'Storage'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-backup" data-bs-toggle="tab">{{ 'Backup'|trans }}</a>
            </li>
        </ul>

        <div class="card">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-general" role="tabpanel">
					{% set params = admin.extension_config_get({ "ext": "mod_serviceproxmox" }) %}
					<form method="post" action="{{ 'api/admin/extension/config_save'|link }}" class="api-form" data-api-msg="Settings updated">
						<input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
						<input type="hidden" name="ext" value="mod_serviceproxmox"/>
						<div class="card-body">
							<div class="mt-3 mb-3 row">
								<label class="col-md-3 form-label">{{ 'Use API Token Authentication'|trans }}</label>
								<div class="col-md-6">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="use_auth_tokens" value="yes" {% if params.use_auth_tokens == 'yes' %} checked {% endif %} required>
									<label class="form-check-label">Yes</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="use_auth_tokens" value="no" {% if params.use_auth_tokens == 'no' %} checked {% endif %} required>
									<label class="form-check-label">No</label>
								</div>
								</div>
							</div>
							<div class="mb-3 row">
								<label class="form-label">
									Global CPU Overprovisioning
								</label>
								<div class="col-md-5">
									<input class="form-range" type="range" name="cpu_overprovisioning" value="{{ params.cpu_overprovisioning|default(0) }}" min="0" max="200" step="1" oninput="cpuOutput.value = this.value+'%';">
								</div>
								<div class="col-md-2">
									<output name="cpuOutput" for="cpu_overprovisioning">
										{{ params.cpu_overprovisioning|default(0) }}%
									</output>
								</div>
								<label class="form-label">
									Global RAM Overprovisioning
								</label>
								<div class="col-md-5">
									<input class="form-range" type="range" name="ram_overprovisioning" value="{{ params.ram_overprovisioning|default(0) }}" min="0" max="200" step="1" oninput="ramOutput.value = this.value+'%';">
								</div>
								<div class="col-md-2">
									<output name="ramOutput" for="ram_overprovisioning">
										{{ params.ram_overprovisioning|default(0) }}%
									</output>
								</div>
								<label class="form-label">
									Global Storage Overprovisioning
								</label>
								<div class="col-md-5">
									<input class="form-range" type="range" name="storage_overprovisioning" value="{{ params.storage_overprovisioning|default(0) }}" min="0" max="200" step="1" oninput="storageOutput.value = this.value+'%';">
								</div>
								<div class="col-md-2">
									<output name="storageOutput" for="storage_overprovisioning">
										{{ params.storage_overprovisioning|default(0) }}%
									</output>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-md-3 form-label">
									{{ 'Avoid Overprovisioning Servers as long as possible'|trans }}
								</label>
								<div class="col-md-6">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="avoid_overprovision" value="yes" {% if params.avoid_overprovision == 'yes' %} checked {% endif %} required>
										<label class="form-check-label">Yes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="avoid_overprovision" value="no" {% if params.avoid_overprovision == 'no' %} checked {% endif %} required>
										<label class="form-check-label">No</label>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-md-3 form-label">
									{{ 'Prohibit Overprovisioning '|trans }}
								</label>

								<div class="col-md-6">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="no_overprovision" value="yes" {% if params.no_overprovision == 'yes' %} checked {% endif %} required>
										<label class="form-check-label">Yes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="no_overprovision" value="no" {% if params.no_overprovision == 'no' %} checked {% endif %} required>
										<label class="form-check-label">No</label>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<label class="col-md-3 form-label">
									{{ 'Enable Debug logging '|trans }}
								</label>

								<div class="col-md-6">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="pmx_debug_logging" value="1" {% if params.pmx_debug_logging == '1' %} checked {% endif %} required>
										<label class="form-check-label">Yes</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="pmx_debug_logging" value="0" {% if params.pmx_debug_logging == '0' %} checked {% endif %} required>
										<label class="form-check-label">No</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer text-end">
							<button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
						</div>
					</form>
				</div>
	            <div class="tab-pane fade" id="tab-storage" role="tabpanel">
					{% set storages_grouped = admin.serviceproxmox_storage_get_list() %}
						{% for type in storages_grouped %}
						<div class="card-body">
						<div class="card-title">
							<strong>{{ type.group }} Storages</strong>
						</div>
						<div class="table-responsive">
							<table class="table card-table table-vcenter table-striped text-nowrap">
								<thead>
									<tr>
										<th>
											{{ 'Storage' | trans }}
										</th>
										<th>
											{{ 'Servername' | trans }}
										</th>
										<th>
											{{ 'Content' | trans }}
										</th>
										<th style="text-align: right;">
											{{ 'Storage Space' | trans }}
										</th>
										<th>
											{{ 'Active' | trans }}
										</th>
										<th class="w-1">
										</th>
									</tr>
								</thead>
								<tbody>
									{% for storage in type.storages %}
										<tr>
											<td>
												{{ storage.name }}
											</td>
											<td>
												{{ storage.servername }}
											</td>
											<td>
												{% set content = storage.content|split(',') %}
												{% for line in content %}
													{{ line }} <br>
												{% endfor %}
											</td>
											<td style="text-align: center; width: 3em;">
												{{ storage.used }} / {{ storage.size }} GB
												<div class="progress progress-sm">
													<div class="progress-bar" style="width: {{ storage.percent_used }}%"></div>
												</div>
											</td>
											<td>
											{% if storage.active == 1 %}
												<span class="badge bg-success me-1"></span>
											{% else %}
												<span class="badge bg-fail me-1"></span>
											{% endif %}
											</td>
											<td>
												<a class="btn btn-icon" href="{{ '/serviceproxmox/storage'|alink }}/{{ storage.id }}">
													<svg class="icon">
														<use xlink:href="#edit"/>
													</svg>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					{% endfor %}
				</div>
				</div>
                <div class="tab-pane fade" id="tab-backup" role="tabpanel">
					<form method="post" action="admin/serviceproxmox/proxmox_restore_backup" class="api-form" data-api-redirect="{{ 'extension/settings/serviceproxmox'|alink }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
						<div class="card-body">
							<h2 class="card-title">{{ 'Backups'|trans }}</h2>
						</div>
						<div class="card-body">
							<a href="{{ 'admin/serviceproxmox/maintenance/backup'|alink }}" class="btn btn-primary">{{ 'Create Backup'|trans }}</a>
						</div>
                        <div class="card-body">
                            {% set backups = admin.serviceproxmox_proxmox_list_backups() %}
							<div class="row mb-3">
								<label class="col-md-3 form-label">
									{{ 'Backup auswählen'|trans }}
								</label>
								<div class="col-md-6">
									<select name="backup" class="form-select">
										{% for backup in backups %}
											<option value="{{ backup }}">{{ backup }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="row mb-3">
							<p>
								{{ 'The backup will be restored to the backed up state of the server configuration.'|trans }}<br>
								{{ 'If you have added new vms or containers since the backup, they will be deleted.'|trans }}<br>

								<b>{{ 'All data will be overwritten.'|trans }}</b>
							</p>
                        </div>
                        <div class="card-footer text-end">
							<button type="submit" class="btn btn-primary" data-api-confirm="{{ 'Are you sure?' | trans }}">{{ 'Restore Backup'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
	// TODO: Fix this WIP mess
	var selectedStorageClass = null;

	function deleteStorageClass() {
	    if (selectedStorageClass) {

	        refreshStorageClassesList();
	    }
	}

	function saveStorageClass() {
	    var storageClassNameInput = document.getElementById('storageClassName');
	    var storageClassName = storageClassNameInput.value;

	    if (selectedStorageClass) {

	        refreshStorageClassesList();
	    } else {

	        refreshStorageClassesList();
	    }

	    storageClassNameInput.value = '';
	    $('#addEditStorageClassModal').modal('hide');
	}

	function refreshStorageClassesList() {

	    var updatedStorageClasses = ['Storage Class A', 'Storage Class B', 'Storage Class C'];
	    var storageClassesList = document.querySelector('#storageClassesModal ul');

	    storageClassesList.innerHTML = '';
	    updatedStorageClasses.forEach(function(storageclass) {
	        var listItem = document.createElement('li');
	        listItem.className = 'list-group-item';
	        listItem.textContent = storageclass;
	        storageClassesList.appendChild(listItem);
	    });
	}
</script>{% endblock %}
