{% import 'macro_functions.html.twig' as mf %}
{% extends "layout_default.html.twig" %}
{% block meta_title %}
   {{ 'Manage Proxmox storage' | trans }}
{% endblock %}
{% set active_menu = 'system' %}

{% block content %}
   <div class="card">
      <div class="card-body">
         <h5>
            Manage 
                        
            {{ storage.storage }}
         </h5>
      </div>
      <div class="card-body">
         <form method="post" action="admin/serviceproxmox/storage_update" id="storage-update" class="api-form" data-api-msg="storage updated">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
            <input type="hidden" name="storage_id" value="{{ storage.id }}" />
            <div class="row mb-3">
               <label class="col-md-3 col-form-label">
                  Storage Classes
                                 
               </label>
               <div class="col-md-6">
                  <select class="form-select" name="selected_storageclasses[]" multiple>
                     {% for storageclass in storageclasses %}
                        <option value="{{ storageclass }}">
                           {{ storageclass }}
                        </option>
                     {% endfor %}
                  </select>
               </div>
            </div>
            <!-- select Storageclass -->

            <input type="submit" value="{{ 'Update storage' | trans }}" class="btn btn-primary"></form>
         </div>
      </div>
   {% endblock %}
   {% block js %}{% endblock %}
   