{% import 'macro_functions.html.twig' as mf %}
{% extends "layout_default.html.twig" %}
{% block meta_title %}
   {{ 'Manage Client Network' | trans }}
{% endblock %}
{% set active_menu = 'proxmox' %}

{% block content %}
   <div class="card">
      <div class="card-body">
         <h2>
            Manage VLAN: {{ clientnetwork.vlan }}
         </h2>
      </div>
      <div class="card-body">
      {% set ipranges = admin.serviceproxmox_service_get_ipranges() %}
         <form method="post" action="admin/serviceproxmox/client_network_update" id="clientnetwork-update" class="api-form" data-api-msg="VLAN updated">
            <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />   
            <input type="hidden" name="id" value="{{ clientnetwork.id }}" />
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">
                    {{ 'Client_ID' | trans }}:
                </label>
                {% set clients = admin.client_get_list() %}
                <div class="col">
                    <select class="form-select" name="client_id">
                    {% for client in clients.list %}
                     <option value="{{ client.id }}" {% if clientnetwork.client_id == client.id %} selected {% endif %}>{{ client.id }}: {{ client.first_name }} {{ client.last_name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">
                    {{ 'VLAN' | trans }}:
                </label>
                <div class="col">
                    <input class="form-control" type="text" name="vlan" id="vlan-input" value="" required placeholder="{{ 'Unique VLAN ID' | trans }}">
                    <span id="vlan-validation-error" style="display: none; color: red;">Please enter a valid VLAN ID (1-4096).</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="form-label col-3 col-form-label">
                    {{ 'IP Range' | trans }}:
                </label>
                <div class="col">
                    <select class="form-select" name="ip_range">
                        {% for iprange in ipranges %}
                           <option value="{{ iprange.id }}" {% if clientnetwork.ip_range == iprange.id %} selected {% endif %}>{{ iprange.cidr }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="submit" value="{{ 'Save Client VLAN' | trans }}" class="btn btn-primary">
         </form>
      </div>
   </div>
{% endblock %}
{% block js %}
   <script>
    document.getElementById('vlan-input').addEventListener('input', function() {
        var input = document.getElementById('vlan-input');
        var value = input.value.trim();
        var errorSpan = document.getElementById('vlan-validation-error');
        var isNumber = /^\d+$/.test(value);
        
        if (!isNumber || parseInt(value) <= 0 || parseInt(value) > 4096) {
            errorSpan.style.display = 'block';
            input.setCustomValidity('Invalid VLAN ID');
        } else {
            errorSpan.style.display = 'none';
            input.setCustomValidity('');
        }
    });
    </script>
{% endblock %}
   
   