{% import 'macro_functions.html.twig' as mf %}
{% extends 'layout_default.html.twig' %}
{% block meta_title %}
    {{ 'Proxmox IP & Network management' | trans }}
{% endblock %}
{% set active_menu = 'proxmox' %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-iprange" data-bs-toggle="tab">
                {{ 'IP Address Ranges' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new-iprange" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New IP Range' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-ipadress" data-bs-toggle="tab">
                {{ 'IP Addresses' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new-ipadress" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New IP Address' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-vlans" data-bs-toggle="tab">
                {{ 'VLANs' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new-vlan" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New Client VLAN' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-ipam-settings" data-bs-toggle="tab">
                {{ 'IPAM Settings' | trans }}
            </a>
        </li>
    </ul>

    <div class="card">
        <!-- ##############################################################################
                                        List IP Ranges
             ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-iprange" role="tabpanel">
                <div class="card-body">
                    <h2>
                        {{ 'IP Ranges' | trans }}
                    </h2>
                </div>
                <div class="card-body">
                    {% set ipranges = admin.serviceproxmox_service_get_ip_ranges() %}
                    <div style="padding: 0.25rem 1.5rem">
                        <strong>
                            All IP Ranges
                        </strong>
                    </div>
                    <table class="table card-table table-vcenter table-striped table-responsive text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    {{ 'CIDR' | trans }}
                                </th>
                                <th>
                                    {{ 'Gateway' | trans }}
                                </th>
                                <th>
                                    {{ 'Broadcast' | trans }}
                                </th>
                                <th>
                                    {{ 'Type' | trans }}
                                </th>
                                <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for iprange in ipranges %}
                            <tr>
                                <td>
                                    {{ iprange.cidr }}
                                </td>
                                <td>
                                    {{ iprange.gateway }}
                                </td>
                                <td>
                                    {{ iprange.broadcast }}
                                </td>
                                <td>
                                    {{ iprange.type }}
                                </td>
                                <td>
                                    <a class="btn btn-icon" href="{{ '/serviceproxmox/ipam/iprange'|alink }}/{{ iprange.id }}">
                                        <svg class="icon">
                                            <use xlink:href="#edit" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ##############################################################################
                                Form to create a new IP Network
             ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade" id="tab-new-iprange" role="tabpanel">
                <div class="card-body">
                    <form method="post" action="admin/serviceproxmox/ip_range_create" class="api-form" data-api-redirect="{{ 'serviceproxmox/ipam'|alink }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'CIDR' | trans }}:    
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" id='cidr' name="cidr" value="/24" required placeholder="{{ 'Unique, non overlapping network in CIDR Notation (A.B.C.D/24)' | trans }}">
                            <span id="cidr-validation-error" style="display: none; color: red;">Please enter a valid IP in CIDR notation.</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Gateway' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text-area" id='gateway' name="gateway" value="" required placeholder="{{ 'Gateway' | trans }}">
                            <span id="gateway-validation-error" style="display: none; color: red;">Please enter a valid Gateway IP.</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Subnet Size' | trans }}:                                                                    
                            </label>
                            <div class="col-md-5">
                                <input id="subnet_size" class="form-range" type="range" id='subnet_size' name="subnet_size" value="1" min="1" max="24" step="1" oninput="updateOutput(this.value);">
                            </div>
                            <div class="col-md-2">
                                <output id="subnet_sizeOutput" name="subnet_sizeOutput" for="subnet_size">
                                    1 Adress, /32
                                </output>
                            </div>                    
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Network & Broadcast' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text-area" id='network' name="network" value="" required placeholder="{{ 'Network' | trans }}" readonly>
                            </div>
                            <div class="col">
                                <input class="form-control" type="text-area" id='broadcast' name="broadcast" value="" required placeholder="{{ 'Broadcast' | trans }}"  readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'IP Address Type' | trans }}:                                                                            
                            </label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioTypePublic" type="radio" name="type" value="public">
                                    <label class="form-check-label" for="radioTypePublic">
                                        {{ 'Public' | trans }}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioTypePrivate" type="radio" name="type" value="private" checked>
                                    <label class="form-check-label" for="radioTypePrivate">
                                        {{ 'Private' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="{{ 'Save IP Range' | trans }}" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <!-- ##############################################################################
                                    List IP Adresses
            ############################################################################## -->
            <div class="tab-content">
             <div class="tab-pane fade show" id="tab-ipadress" role="tabpanel">
                 <div class="card-body">
                     <h2>
                         {{ 'IP Addresses' | trans }}
                     </h2>
                 </div>
                 <div class="card-body">
                     {% set ipadresses = admin.serviceproxmox_service_get_ip_adresses() %}
                     <div style="padding: 0.25rem 1.5rem">
                         <strong>
                             All IP Adresses
                         </strong>
                     </div>
                     <table class="table card-table table-vcenter table-striped table-responsive text-nowrap">
                         <thead>
                             <tr>
                                 <th>
                                     {{ 'IP' | trans }}
                                 </th>
                                 <th>
                                     {{ 'IP Range' | trans }}
                                 </th>
                                 <th>
                                     {{ 'Dedicated' | trans }}
                                 </th>
                                 <th>
                                     {{ 'Gateway' | trans }}
                                 </th>
                                 <th>
                                    {{ 'VLAN' | trans }}
                                </th>
                                 <th class="w-1"></th>
                             </tr>
                         </thead>
                         <tbody>
                         {% for ipadress in ipadresses %}
                             <tr>
                                 <td>
                                     {{ ipadress.ip }}
                                 </td>
                                 <td>
                                    // display the ip_range cidr for ipaddress.ip_range_id found in the ip_ranges variable
                                    {% for ip_range in ip_ranges %}
                                        {% if ip_range.id == ipadress.ip_range_id %}
                                            {{ ip_range.cidr }}
                                        {% endif %}
                                    {% endfor %}
                                 </td>
                                 <td>
                                     {{ ipadress.dedicated }}
                                 </td>
                                 <td>
                                     {{ ipadress.gateway }}
                                 </td>
                                 <td>
                                    {{ ipadress.vlan }}
                                </td>
                                 <td>
                                     <a class="btn btn-icon" href="{{ '/serviceproxmox/ipam/ipadress'|alink }}/{{ ipadress.id }}">
                                         <svg class="icon">
                                             <use xlink:href="#edit" />
                                         </svg>
                                     </a>
                                 </td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
         <!-- ##############################################################################
                                 Form to create a new IP Adress
              ############################################################################## -->
         <div class="tab-content">
             <div class="tab-pane fade" id="tab-new-ipadress" role="tabpanel">
                 <div class="card-body">
                     <form method="post" action="admin/serviceproxmox/ipam/ipadress_create" class="api-form" data-api-redirect="{{ 'serviceproxmox/ipam'|alink }}">
                         <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
                         <div class="mb-3 row">
                             <label class="form-label col-3 col-form-label">
                                 {{ 'IP' | trans }}:    
                             </label>
                             <div class="col">
                                 <input class="form-control" type="text" id='cidr' name="cidr" value="" required placeholder="{{ 'Unique, non overlapping network in CIDR Notation (A.B.C.D/24)' | trans }}">
                             </div>
                         </div>
                         <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'IP Range: ' | trans }}:
                            </label>

                            <div class="col">
                                <select class="form-select" name="client_id">
                                {% for iprange in ipranges %}
                                    <option value="{{ iprange.id }}">{{ iprange.cidr }}: {{ iprange.network }} - {{ iprange.broadcast }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                         <div class="mb-3 row">
                             <label class="form-label col-3 col-form-label">
                                 {{ 'Dedicated IP Address' | trans }}:                                                                            
                             </label>
                             <div class="col">
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" id="radioTypePublic" type="radio" name="type" value="1">
                                     <label class="form-check-label" for="radioTypePublic">
                                         {{ 'Yes' | trans }}
                                     </label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" id="radioTypePrivate" type="radio" name="type" value="0" checked>
                                     <label class="form-check-label" for="radioTypePrivate">
                                         {{ 'No' | trans }}
                                     </label>
                                 </div>
                             </div>
                         </div>
                         <div class="mb-3 row">
                             <label class="form-label col-3 col-form-label">
                                 {{ 'Gateway ' | trans }}:
                             </label>
                             <div class="col">
                                 <input class="form-control" type="text-area" id='gateway' name="gateway" value="" required placeholder="{{ 'Gateway' | trans }}">
                             <span id="gateway-validation-error" style="display: none; color: red;">Please enter a valid Gateway IP.</span>
                             </div>
                         </div>
                         <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'VLAN: ' | trans }}:
                            </label>
                            {% set client_vlans = admin.serviceproxmox_service_get_vlans() %}
                            <div class="col">
                                <select class="form-select" name="client_id">
                                {% for vlan in client_vlans %}
                                    <option value="{{ vlan.id }}">{{ vlan.vlan }}: {{ vlan.client_name }} </option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                         <input type="submit" value="{{ 'Save IP Range' | trans }}" class="btn btn-primary">
                     </form>
                 </div>
             </div>
         </div>
        <!-- ##############################################################################
        List Client VLANs
        ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade show" id="tab-vlans" role="tabpanel">
                <div class="card-body">
                    <h2>
                        {{ 'VLANs' | trans }}
                    </h2>
                </div>
                <div class="card-body">
   
                {% set client_vlans = admin.serviceproxmox_service_get_vlans() %}
                    <div style="padding: 0.25rem 1.5rem">
                        <strong>
                            All Client VLANs
                        </strong>
                    </div>
                    <table class="table card-table table-vcenter table-striped text-nowrap">
                        <thead>
                            <tr>
                            <th>
                            {{ 'Client' | trans }}
                            </th>
                            <th>
                            {{ 'VLAN ID' | trans }}
                            </th>
                            <th>
                            {{ 'IP Range' | trans }}
                            </th>
                            <th class="w-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client_vlan in client_vlans %}
                            <tr>
                                <td>
                                    {{ client_vlan.client_name }}
                                </td>
                                <td>
                                    {{ client_vlan.vlan }}
                                </td>
                                <td>
                                    {{ client_vlan.ip_range }}
                                </td>
                                <td>
                                    <a class="btn btn-icon" href="{{ '/serviceproxmox/ipam/client_vlan'|alink }}/{{ client_vlan.id }}">
                                        <svg class="icon">
                                            <use xlink:href="#edit" />
                                        </svg>
                                    </a>
                                    <a class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?' | trans }}" data-api-redirect="{{ 'serviceproxmox/ipam'|alink }}" href="{{ 'api/admin/serviceproxmox/client_vlan_delete'|link({ 'id': client_vlan.id, 'CSRFToken': CSRFToken }) }}">
                                        <svg class="icon">
                                            <use xlink:href="#delete" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- ##############################################################################
        Create new Client VLAN
        ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade" id="tab-new-vlan" role="tabpanel">
                <div class="card-body">
                    <form method="post" action="admin/serviceproxmox/client_vlan_create" class="api-form" data-api-redirect="{{ 'serviceproxmox/ipam'|alink }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Client: ' | trans }}:
                            </label>
                            {% set clients = admin.client_get_list() %}
                            <div class="col">
                                <select class="form-select" name="client_id">
                                {% for client in clients.list %}
                                    <option value="{{ client.id }}">{{ client.id }}: {{ client.first_name }} {{ client.last_name }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'VLAN' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="vlan" id="vlan-input" value="" required placeholder="{{ 'Unique VLAN ID' | trans }}">
                                <span id="vlan-validation-error" style="display: none; color: red;">Please enter a valid VLAN ID (1-4096).</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'IP Range' | trans }}:
                            </label>
                            <div class="col">
                                <select class="form-select" name="ip_range">
                                    {% for iprange in ipranges %}
                                        <option value="{{ iprange.id }}">{{ iprange.cidr }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="{{ 'Save Client VLAN' | trans }}" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    <!-- ##############################################################################
        IPAM Settings
        ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade show" id="tab-ipam-settings" role="tabpanel">
                <div class="card-body">
                    <h2>
                        {{ 'IPAM Settings' | trans }}
                    </h2>
                </div>
                <div class="card-body">
                    <form method="post" action="admin/serviceproxmox/save_ipam_settings" class="api-form" data-api-redirect="{{ 'serviceproxmox/ipam'|alink }}">
                        <h3>Automation Settings</h3>
                        <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">
                            {{ 'Create a new VLAN for each customer?' | trans }}:                                                                            
                        </label>
                        <div class="col">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioVLANPerCustomerYes" type="radio" name="vlan_per_customer" value="1">
                                    <label class="form-check-label" for="radioVLANPerCustomerYes">
                                        {{ 'Yes' | trans }}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioVLANPerCustomerNo" type="radio" name="vlan_per_customer" value="0" checked>
                                    <label class="form-check-label" for="radioVLANPerCustomerNo">
                                        {{ 'No' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                        <label class="form-label col-3 col-form-label">
                            {{ 'Create a new IP Range for each customer?' | trans }}:                                                                            
                        </label>
                        <div class="col">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioIPRangePerCustomerYes" type="radio" name="vlan_per_customer" value="1">
                                    <label class="form-check-label" for="radioIPRangePerCustomerYes">
                                        {{ 'Yes' | trans }}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioIPRangePerCustomerNo" type="radio" name="vlan_per_customer" value="0" checked>
                                    <label class="form-check-label" for="radioIPRangePerCustomerNo">
                                        {{ 'No' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="{{ 'Save Settings' | trans }}" class="btn btn-primary">
                    </form>
                </div>
                <div class="card-body">

                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block js %}
<script>
    function calculateIPRange(ip, cidr) {
        var subnet = Math.pow(2, 32 - cidr);
        var ipLong = ip2long(ip);
    
        var ipStart = ipLong & (~(subnet - 1));
        var ipEnd = ipStart + subnet - 1;
    
        return [long2ip(ipStart), long2ip(ipEnd)];
    }
    
    function ip2long(ip) {
        var parts = ip.split('.');
        var result = 0;
        for (var i = 0; i < 4; i++) {
            result += parseInt(parts[i]) * Math.pow(2, 24 - (8 * i));
        }
        return result;
    }
    
    function long2ip(ip) {
        var result = [];
        for (var i = 3; i >= 0; i--) {
            var part = Math.floor(ip / Math.pow(2, 8 * i));
            ip -= part * Math.pow(2, 8 * i);
            result.push(part);
        }
        return result.join('.');
    }
    
    function isValidCIDR(cidr) {
        var ipPart = cidr.split('/')[0];
        var subnetPart = cidr.split('/')[1];
    
        var ipPattern = /^((25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})\.){3}(25[0-5]|2[0-4][0-9]|1?[0-9]{1,2})$/;
        if (!ipPattern.test(ipPart)) {
            return false;
        }
    
        if (!subnetPart || isNaN(subnetPart) || parseInt(subnetPart) < 0 || parseInt(subnetPart) > 32) {
            return false;
        }
    
        return true;
    }
    
    function updateOutput(value) {
        var output = document.getElementById('subnet_sizeOutput');
        var cidrInput = document.getElementById('cidr');
        var ip = cidrInput.value.split('/')[0];
        var ipRange = calculateIPRange(ip, 32 - value);
    
        output.value = Math.pow(2, value) + ' Address(es), /' + (32 - value) + ', IP Range: ' + ipRange[0] + ' - ' + ipRange[1];
        cidrInput.value = ip + '/' + (32 - value);
        document.getElementById('network').value = ipRange[0];
        document.getElementById('broadcast').value = ipRange[1];
        var gatewayInput = document.getElementById('gateway');
        var errorSpan = document.getElementById('gateway-validation-error');
        var gatewayIpLong = ip2long(gatewayInput.value);
        var ipStartLong = ip2long(ipRange[0]);
        var ipEndLong = ip2long(ipRange[1]);
        var nextIpLong = ip2long(ipRange[0]) + 1;
        gatewayInput.placeholder = long2ip(nextIpLong);
        if (gatewayIpLong < ipStartLong || gatewayIpLong > ipEndLong) {
            gatewayInput.setCustomValidity('The gateway IP is not within the network range!');
            errorSpan.style.display = 'block';
        } else {
            gatewayInput.setCustomValidity('');
            errorSpan.style.display = 'none';
        }
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        var subnetSizeInput = document.getElementById('subnet_size');
        var cidrInput = document.getElementById('cidr');
    
        var cidr = parseInt(cidrInput.value.split('/')[1]);
        subnetSizeInput.value = 32 - cidr;
        updateOutput(subnetSizeInput.value);
    
        subnetSizeInput.addEventListener('input', function() {
            updateOutput(this.value);
        })
    })
    
    document.getElementById('cidr').addEventListener('input', function() {
        var cidrInput = this.value;
        var errorSpan = document.getElementById('cidr-validation-error');
        if (!isValidCIDR(cidrInput)) {
            this.setCustomValidity('Please specify a valid IP in CIDR Notation (A.B.C.D/24)!');
            errorSpan.style.display = 'block';
        } else {
            var subnetSizeInput = document.getElementById('subnet_size');
            var ip = cidrInput.split('/')[0];
            subnetSizeInput.value = 32 - cidrInput.split('/')[1];
            updateOutput(subnetSizeInput.value);
            this.setCustomValidity('');
            errorSpan.style.display = 'none';
        }
    
    });
    document.getElementById('gateway').addEventListener('input', function() {
        var subnetSizeInput = document.getElementById('subnet_size');
        var cidrInput = document.getElementById('cidr');
        var ip = cidrInput.value.split('/')[0];
        subnetSizeInput.value = 32 - cidrInput.value.split('/')[1];
    
        var ipRange = calculateIPRange(ip, 32 - subnetSizeInput.value);
        var gatewayInput = document.getElementById('gateway');
        var errorSpan = document.getElementById('gateway-validation-error');
        var gatewayIpLong = ip2long(gatewayInput.value);
    
        var ipStartLong = ip2long(ipRange[0]);
        var ipEndLong = ip2long(ipRange[1]);
        if (gatewayIpLong < ipStartLong || gatewayIpLong > ipEndLong) {
            gatewayInput.setCustomValidity('The gateway IP is not within the network range!');
            errorSpan.style.display = 'block';
        } else {
            gatewayInput.setCustomValidity('');
            errorSpan.style.display = 'none';
        }
    })
    
    document.getElementById('vlan-input').addEventListener('input', function() {
        var input = document.getElementById('vlan-input');
        var value = input.value.trim();
        var errorSpan = document.getElementById('vlan-validation-error');
        var isNumber = /^\d+$/.test(value);
    
        if (!isNumber || parseInt(value) <= 0 || parseInt(value) > 4096) {
            errorSpan.style.display = 'block';
            input.setCustomValidity('Invalid VLAN ID');
        } else {
            errorSpan.style.display = 'none';
            input.setCustomValidity('');
        }
    })
</script>
{% endblock %}
