<form method="post" action="admin/serviceproxmox/product_update" class="mainForm api-form save" data-api-msg="Settings updated">
    <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
    <input type="hidden" name="id" value="{{ product.id }}" />
    <div class="card-body">
        <h2>
            {{ 'General Settings' | trans }}
        </h2>
    </div>
    <div class="card-body">
        <div class="mb-3 row">
            <label class="form-label col-3">
                {{ 'Show Stock' | trans }}:
            </label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioStockYes" type="radio" name="stock" value="1" {% if product.config.show_stock %} checked="checked" {% endif %}>
                    <label class="form-check-label" for="radioStockYes">
                        {{ 'Yes' | trans }}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioStockNo" type="radio" name="stock" value="0" {% if not product.config.show_stock %} checked="checked" {% endif %}>
                    <label class="form-check-label" for="radioStockNo">
                        {{ 'No' | trans }}
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label col-3">
                {{ 'Server Group' | trans }}:
            </label>
            {% set groups = admin.serviceproxmox_server_groups() %}
            <div class="col">
                <select class="form-select" name="group">
                    {% for group in groups %}
                        <option value="{{ group.group }}">{{ group.group }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label col-3">
                {{ 'Server filling method' | trans }}:
            </label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioFillingYes" type="radio" name="filling" value="least"  {% if product.config.filling %} checked="checked" {% endif %} >
                    <label class="form-check-label" for="radioFillingYes">
                        {{ 'Least filled Server' | trans }}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioFillingNo" type="radio" name="filling" value="full"  {% if not product.config.filling %} checked="checked" {% endif %} >
                    <label class="form-check-label" for="radioFillingNo">
                        {{ 'Fill up each Server until full' | trans }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h2>
            {{ 'Product Settings' | trans }}
        </h2>
    </div>
    <div class="card-body">
        <div class="mb-3 row">
            <label class="form-label col-3">
                {{ 'Virtualization Type' | trans }}:
            </label>
            <div class="col">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioVirtlxc" type="radio" name="virt" value="lxc" {% if product.config.virt == "lxc" %} checked="checked" {% endif %} >
                    <label class="form-check-label" for="radioVirtlxc">
                        {{ 'LXC Container' | trans }}
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="radioVirtqemu" type="radio" name="virt" value="qemu"  {% if product.config.virt == "qemu" %} checked="checked" {% endif %} >
                    <label class="form-check-label" for="radioVirtqemu">
                        {{ 'KVM Virtualization with QEMU' | trans }}
                    </label>
                </div>
            </div>
        </div>
                {% set lxc_templates = admin.serviceproxmox_service_get_lxctemplates() %}
        {% set vm_templates = admin.serviceproxmox_service_get_vmtemplates() %}
        <div class="mb-3 row" id='select-lxc-template'>
            <label class="form-label col-3 col-form-label">
                {{ 'LXC Template' | trans }}:
            </label>
            <div class="col">
                <select class="form-select" name="lxc-templ">
                    {% for lxc_tmpl in lxc_templates %}
                    <option value="{{ lxc_tmpl.id }}">{{ lxc_tmpl.description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row" id='select-vm-template'>
            <label class="form-label col-3 col-form-label">
                {{ 'VM Template' | trans }}:
            </label>
            <div class="col">
                <select class="form-select" name="vm-templ">
                    {% for vm_tmpl in vm_templates %}
                    <option value="{{ vm_tmpl.id }}">{{ vm_tmpl.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>
{% block js %}
    <script>
        document.getElementById('select-lxc-template').hidden = true;
        document.getElementById('select-vm-template').hidden = true;
        document.getElementById('radioVirtlxc').addEventListener('click', function() {
            if (document.getElementById('radioVirtlxc').checked && !document.getElementById('radioVirtqemu').checked) {
                document.getElementById('select-lxc-template').hidden = false;
                document.getElementById('select-vm-template').hidden = true;
            } else if (!document.getElementById('radioVirtlxc').checked && document.getElementById('radioVirtqemu').checked) {
                document.getElementById('select-lxc-template').hidden = true;
                document.getElementById('select-vm-template').hidden = false;
            }  }
        )
        document.getElementById('radioVirtqemu').addEventListener('click', function() {
            if (document.getElementById('radioVirtlxc').checked && !document.getElementById('radioVirtqemu').checked) {
                document.getElementById('select-lxc-template').hidden = false;
                document.getElementById('select-vm-template').hidden = true;
            } else if (!document.getElementById('radioVirtlxc').checked && document.getElementById('radioVirtqemu').checked) {
                document.getElementById('select-lxc-template').hidden = true;
                document.getElementById('select-vm-template').hidden = false;
            }  }
        )
    </script>
{% endblock %}
                                