<form method="post" action="admin/serviceproxmox/product_update" class="mainForm api-form save" data-api-msg="Settings updated">
<input type="hidden" name="CSRFToken" value="{{ CSRFToken }}"/>
<fieldset>
	<div class="help">
		<h5>{{ 'Stock control settings' | trans }}</h5>
	</div>
	
    <div class="rowElem noborder">
        <label>{{ 'Show stock' | trans }}:</label>
        <div class="formRight">
            <input type="radio" name="show_stock" value="1"{% if product.config.show_stock %} checked="checked"{% endif %}/><label>Yes</label>
            <input type="radio" name="show_stock" value="0"{% if not product.config.show_stock %} checked="checked"{% endif %} /><label>No</label>
        </div>
        <div class="fix"></div>
    </div>
	
	<div class="rowElem noborder">
        <label>{{ 'Server group name' | trans }}:</label>
        <div class="formRight">
			{% set groups = admin.serviceproxmox_server_groups() %}
			<select name="group">
			{% for group in groups %}
				<option value="{{group.group}}"{% if product.config.show_stock %} checked="checked"{% endif %}>{{group.group}}</option>
			{% endfor %}
			</select>

        </div>
        <div class="fix"></div>
    </div>
	
	<div class="rowElem noborder">
        <label>{{ 'Filling method' | trans }}:</label>
        <div class="formRight">
            <input type="radio" name="filling" value="least"{% if product.config.filling %} checked="checked"{% endif %}/><label>Least filled server</label>
            <input type="radio" name="filling" value="full"{% if not product.config.filling %} checked="checked"{% endif %} /><label>Fill each server up</label>
        </div>
        <div class="fix"></div>
    </div>
 
 	<div class="help">
		<h5>{{ 'VM settings' | trans }}</h5>
	</div>
 
					<div class="rowElem">
                        <label>{{ 'Virtualization type' | trans }}:</label>
                            <div class="formRight">
                                <input type="radio" name="virt" value="lxc"{% if product.config.virt == "lxc" %} checked="checked"{% endif %} /><label>{{ 'LXC' | trans }}</label>
                                <input type="radio" name="virt" value="qemu"{% if product.config.virt == "qemu" %} checked="checked"{% endif %}/><label>{{ 'qemu' | trans }}</label>
                            </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'Target storage' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="storage" value="{{ product.config.storage }}" required="required" placeholder="{{ 'local' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'OS template (only LXC)' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="ostemplate" value="{{ product.config.ostemplate }}" placeholder="{{ 'local:vztmpl/debian.tar.gz' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'ISO (only qemu)' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="cdrom" value="{{ product.config.cdrom }}" placeholder="{{ 'local:iso/debian-latest-amd64.iso' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'RAM memory (in MB)' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="memory" value="{{ product.config.memory }}" required="required" placeholder="{{ '1024' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'CPU core or limit' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="cpu" value="{{ product.config.cpu }}" required="required" placeholder="{{ '1' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'Network net0' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="network" value="{{ product.config.network }}" required="required" placeholder="{{ 'name=eth0,hwaddr=12:34:56:78:90:AB,ip=dhcp,ip6=dhcp,bridge=vmbr0' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'Storage ide0 (Storage:Size in GB)' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="ide0" value="{{ product.config.ide0 }}" required="required" placeholder="{{ 'local:50' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'Should the VM be a QEMU clone?' | trans }}:</label>
                            <div class="formRight">
                                <input type="radio" name="clone" value="1"{% if product.config.clone == 1 %} checked="checked"{% endif %} /><label>{{ 'yes' | trans }}</label>
                                <input type="radio" name="clone" value="0"{% if product.config.clone == 0 %} checked="checked"{% endif %}/><label>{{ 'no' | trans }}</label>
                            </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem noborder">
                        <label>{{ 'VMID to clone (qemu clone only)' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="cloneid" value="{{ product.config.cloneid }}" placeholder="">
                        </div>
                        <div class="fix"></div>
                    </div> 
 
    <input type="submit" value="{{ 'Update' | trans }}" class="greyishBtn submitForm" />
</fieldset>
    
<input type="hidden" name="id" value="{{ product.id }}" />
</form>
