{% import 'macro_functions.html.twig' as mf %}
{% extends 'layout_default.html.twig' %}
{% block meta_title %}
    {{ 'Proxmox servers' | trans }}
{% endblock %}
{% set active_menu = 'proxmox' %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-index" data-bs-toggle="tab">
                {{ 'Server list' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-new-server" data-bs-toggle="tab">
                <svg class="icon me-2">
                    <use xlink:href="#plus" />
                </svg>
                {{ 'New server' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-storage" data-bs-toggle="tab">
                {{ 'Storage' | trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-services" data-bs-toggle="tab">
                {{ 'Provisioned Services' | trans }}
            </a>
        </li>
    </ul>

    <div class="card">
        <div class="tab-content">
            <div class="card-header d-flex justify-content-between">
                <span></span> <!-- Empty for alignment purposes -->
                <div class="d-flex align-items-center">
                    <span id="toggle-label" style="padding-right: 10px;">Show help</span>
                    <label class="switch">
                        <input type="checkbox" id="slide-toggle">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        <!-- ##############################################################################
                                                List Servers
             ############################################################################## -->
            <div class="tab-pane fade show active" id="tab-index" role="tabpanel">
                <div class="card-body">
                    <h2>
                        {{ 'Proxmox Servers' | trans }}
                    </h2>
                </div>
                <table class="table card-table table-vcenter table-striped table-responsive text-nowrap">
                <div class="help-section d-none" style="padding-left:10px;padding-bottom:10px;">
                <div style="padding-left:15px;padding-top:8px;padding-bottom:10px;">
                    Legend: &nbsp;
                    <svg class="icon">
                        <use xlink:href="#wifi" />
                    </svg>
                    Test Connection &nbsp;&nbsp;|&nbsp;&nbsp;
                    <svg class="icon">
                        <use xlink:href="#arrow-back-up" />
                    </svg>
                    Prepare Server &nbsp;&nbsp;|&nbsp;&nbsp;
                    <svg class="icon">
                        <use xlink:href="#edit" />
                    </svg>
                    Edit Server &nbsp;&nbsp;|&nbsp;&nbsp;
                    <svg class="icon">
                        <use xlink:href="#delete" />
                    </svg>
                    Delete Server
                </div>
            </div>
                {% set servers_grouped = admin.serviceproxmox_server_get_list() %}
                {% for group in servers_grouped %}
                <div style="padding: 0.25rem 1.5rem">
                    <strong> {{ group.group }}</strong> group
                </div>
                
                    <thead>
                        <tr>
                            <th>
                                {{ 'ID' | trans }}
                            </th>
                            <th>
                                {{ 'Name' | trans }}
                            </th>
                            <th>
                                {{ 'Hostname' | trans }}
                            </th>
                            <th>
                                {{ 'IPv4' | trans }}
                            </th>
                            <th style="text-align: center;">
                                {{ 'VMs' | trans }}
                            </th>
                            <th style="text-align: center;">
                                 {{ 'CPU' | trans }}
                            </th>
                            <th style="text-align: center;">
                                {{ 'RAM' | trans }}
                            </th>
                            <th style="text-align: center;">
                                {{ 'Active' | trans }}
                            </th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for server in group.servers %}
                        <tr>
                            <td>
                                <a href="{{ '/serviceproxmox/server'|alink }}/{{ server.id }}">
                                    {{ server.id }}
                                </a>
                            </td>
                            <td>
                                {{ server.name }}
                            </td>
                            <td>
                                <a href="https://{{ server.access }}:{{server.port}}" target="_blank">
                                    {{ server.hostname }}:{{server.port}}
                                </a>
                            </td>
                            <td>
                                {{ server.ipv4 }}
                            </td>
                            <td style="text-align: center;">
                                {{ server.vm_count }}
                            </td>
                            <td style="text-align: center;">
                                {{ server.cpu_cores_allocated }} / {{ server.cpu_cores_overprovision }} <br/>
                                (Phy: {{ server.cpu_cores }})
                            </td>
                            <td style="text-align: center;">
                                {{ server.ram_used }} / {{ server.ram_overprovision }} GB <br/>
                                (Phy: {{ server.ram }} GB)
                                <div style="margin-top: 5px;"></div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar" style="width: {{ server.ram_percent }}%; padding-top: 5px;">

                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% if server.active == 1 %}
                            <td style="text-align: center;">
                                <span class="badge bg-success me-1"></span>
                            </td>
                            {% else %}
                            <td style="text-align: center;">
                                <span class="badge bg-fail me-1"></span>
                            </td>
                            {% endif %}
                            <td>
                                <a class="btn btn-icon api-link" href="{{ 'api/admin/serviceproxmox/server_test_connection'|link({ 'id': server.id, 'CSRFToken': CSRFToken }) }}" title="{{ 'Test connection' | trans }}" data-api-msg="{{ 'Server connected' | trans }}">
                                    <svg class="icon">
                                        <use xlink:href="#wifi" />
                                    </svg>
                                </a>
                                <a class="btn btn-icon api-link" href="{{ 'api/admin/serviceproxmox/server_prepare_pve_setup'|link({ 'id': server.id, 'CSRFToken': CSRFToken }) }}" title="{{ 'Prepare Server' | trans }}" data-api-msg="{{ 'Server prepared' | trans }}">
                                    <svg class="icon">
                                        <use xlink:href="#arrow-back-up"/>
                                    </svg>
                                </a>
                                <a class="btn btn-icon" href="{{ '/serviceproxmox/server'|alink }}/{{ server.id }}">
                                    <svg class="icon">
                                        <use xlink:href="#edit" />
                                    </svg>
                                </a>
                                <a class="btn btn-icon api-link" data-api-confirm="{{ 'Are you sure?' | trans }}" data-api-redirect="{{ 'serviceproxmox'|alink }}" href="{{ 'api/admin/serviceproxmox/server_delete'|link({ 'id': server.id, 'CSRFToken': CSRFToken }) }}">
                                    <svg class="icon">
                                        <use xlink:href="#delete" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="text-muted" colspan="7">
                                {{ 'The list is empty' | trans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
                </table>
            </div>

        </div>

 
        <!-- ##############################################################################
                                                Add new Server
             ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade" id="tab-new-server" role="tabpanel">
                <div class="card-body">
                    <form method="post" action="admin/serviceproxmox/server_create" class="api-form" data-api-redirect="{{ 'serviceproxmox'|alink }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Name' | trans }}:    
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="name" value="" required placeholder="{{ 'Unique name to identify this server' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Group' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="group" value="" required placeholder="{{ 'Server group' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Hostname' | trans }}:                                                                    
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="hostname" value="" required placeholder="{{ 'server1.yourserverdomain.com' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Port' | trans }}:                                                                    
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="port" value="" required placeholder="{{ '8006' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'IPv4 address' | trans }}:                                                                            
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="ipv4" value="" required placeholder="{{ 'Primary IPv4 address of the server' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'IPv6 address' | trans }}:                                                                                    
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="ipv6" value="" placeholder="{{ 'Primary IPv6 address of the server' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Proxmox user realm' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="realm" value="pam" required placeholder="pam">
                            </div>
                        </div>
                        <!-- Add radio buttons for auth type (username & password or token) -->

                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Authentication Type' | trans }}:
                            </label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="auth_type" id="username" value="username">
                                    <label class="form-check-label" for="username">{{ 'Username / Password' | trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="auth_type" id="token" value="token">
                                    <label class="form-check-label" for="token">{{ 'Token' | trans }}</label>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 row" name="user_name_field">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Root user' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="root_user" value="root"  placeholder="{{ 'Root username' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row"name="password_field">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Root password' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="password" name="root_password" value="" >
                                <div class="help-section help-texts d-none" style="padding-left:15px;padding-top:8px;padding-bottom:10px;">
                                    <span>This password will only be used to create the access tokens on the pve server.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row" name="token_name_field">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Token name' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="text" name="token_name" value=""  placeholder="{{ 'Token name' | trans }}">
                            </div>
                        </div>
                        <div class="mb-3 row" name="token_value_field">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Token value' | trans }}:
                            </label>
                            <div class="col">
                                <input class="form-control" type="password" name="token_value" placeholder="token" >
                                <div class="help-section help-texts d-none" style="padding-left:15px;padding-top:8px;padding-bottom:10px;">
                                    <span>This token will be used to authenticate with the pve server.</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label col-3 col-form-label">
                                {{ 'Enable / Disable' | trans }}:
                            </label>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioActiveYes" type="radio" name="active" value="1" checked>
                                    <label class="form-check-label" for="radioActiveYes">
                                        {{ 'Yes' | trans }}
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="radioActiveNo" type="radio" name="active" value="0">
                                    <label class="form-check-label" for="radioActiveNo">
                                        {{ 'No' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="{{ 'Add server' | trans }}" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <!-- ##############################################################################
                                            Storage Overview
            ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade show" id="tab-storage" role="tabpanel">
                <div class="card-body">
                    <h2>
                        {{ 'Proxmox Storage list' | trans }}
                    </h2>
                </div>

                {% set storages_grouped = admin.serviceproxmox_storage_get_list() %}
                {% for type in storages_grouped %}
					<div class="card-body">
						<div class="card-title">
							<strong>{{ type.group }} Storages</strong>
						</div>
						<div class="table-responsive">
							<table class="table card-table table-vcenter table-striped table-responsive text-nowrap">
								<thead>
									<tr>
										<th>
											{{ 'Storage' | trans }}
										</th>
										<th>
											{{ 'Servername' | trans }}
										</th>
										<th>
											{{ 'Content' | trans }}
										</th>
										<th style="text-align: right;">
											{{ 'Storage Space' | trans }}
										</th>
										<th>
											{{ 'Active' | trans }}
										</th>
										<th class="w-1">
										</th>
									</tr>
								</thead>
								<tbody>
									{% for storage in type.storages %}
										<tr>
											<td>
												{{ storage.name }}
											</td>
											<td>
												{{ storage.servername }}
											</td>
											<td>
												{% set content = storage.content|split(',') %}
												{% for line in content %}
													{{ line }} <br>
												{% endfor %}
											</td>
											<td style="text-align: center; width: 3em;">
												{{ storage.used }} / {{ storage.size }} GB
												<div class="progress progress-sm">
													<div class="progress-bar" style="width: {{ storage.percent_used }}%"></div>
												</div>
											</td>
											<td>
											{% if storage.active == 1 %}
												<span class="badge bg-success me-1"></span>
											{% else %}
												<span class="badge bg-fail me-1"></span>
											{% endif %}
											</td>
											<td>
												<a class="btn btn-icon" href="{{ '/serviceproxmox/storage'|alink }}/{{ storage.id }}">
													<svg class="icon">
														<use xlink:href="#edit"/>
													</svg>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                {% endfor %}
            </div>
        </div>
        <!-- ##############################################################################
                                        List of active Services
             ############################################################################## -->
        <div class="tab-content">
            <div class="tab-pane fade show" id="tab-services" role="tabpanel">
            <div class="card-body">
                <h2>
                    {{ 'Servicelist' | trans }}
                </h2>
            </div>

            {% set services = admin.serviceproxmox_service_proxmox_get_list() %}
            
            <div style="padding: 0.25rem 1.5rem">
                <strong>
                    All Services 
                </strong>
            </div>
            <table class="table card-table table-vcenter table-striped table-responsive text-nowrap">
                <thead>
                    <tr>
                        <th>
                            {{ 'Server' | trans }}
                        </th>
                        <th>
                            {{ 'VM ID' | trans }}
                        </th>
                        <th>
                            {{ 'Host Name' | trans }}
                        </th>
                        <th>
                            {{ 'CPU Cores' | trans }}
                        </th>
                        <th>
                            {{ 'RAM' | trans }}
                        </th>
                        <th>
                            {{ 'Status' | trans }}
                        </th>
                        <th>
                            {{ 'Created At' | trans }}
                        </th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>
                            {{ service.server_id }}
                        </td>
                        <td>
                            {{ service.id}}
                        </td>
                        <td>
                            {{ service.hostname }}
                        </td>
                        <td>
                            {{ service.cores }}
                        </td>
                        <td>
                            {{ service.ram }} MB
                        </td>
                        <td>
                            {% if service.status == 'running' %}
                                <span class="badge bg-success me-1"></span>
                            {% else %}
                                <span class="badge bg-fail me-1"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ service.created_at }}
                        </td> 
                        <td>
                            <a class="btn btn-icon" href="{{ '/serviceproxmox/storage'|alink }}/{{ storage.id }}">
                                <svg class="icon">
                                    <use xlink:href="#edit" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js%}
<style>
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px; /* Reduced size */
  height: 17px; /* Reduced size */
}

  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px; /* Reduced size */
  width: 13px; /* Reduced size */
  left: 2px; /* Adjusted positioning */
  bottom: 2px; /* Adjusted positioning */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px); /* Adjusted slide distance */
  -ms-transform: translateX(13px); /* Adjusted slide distance */
  transform: translateX(13px); /* Adjusted slide distance */
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .help-texts {
    color: #206BC4;
    font-style:italic;
}

</style>
<script>
    $(document).ready(function() {
        $('#slide-toggle').on('change', function() {
            $('.help-section').toggleClass('d-none');
    
            if ($('#slide-toggle').prop('checked')) {
                $('#toggle-label').text('Hide help');
            } else {
                $('#toggle-label').text('Show help');
            }
        });
        document.getElementsByName("user_name_field")[0].hidden = true;
        document.getElementsByName("password_field")[0].hidden = true;
        document.getElementsByName("token_name_field")[0].hidden = true;
        document.getElementsByName("token_value_field")[0].hidden = true;
    });
    
    var username = document.getElementById("username");
    var token = document.getElementById("token");
    
    username.addEventListener("click", function() {
        document.getElementsByName("user_name_field")[0].hidden = false;
        document.getElementsByName("password_field")[0].hidden = false;
        document.getElementsByName("token_name_field")[0].hidden = true;
        document.getElementsByName("token_value_field")[0].hidden = true;
    });
    
    token.addEventListener("click", function() {
        document.getElementsByName("user_name_field")[0].hidden = true;
        document.getElementsByName("password_field")[0].hidden = true;
        document.getElementsByName("token_name_field")[0].hidden = false;
        document.getElementsByName("token_value_field")[0].hidden = false;
    });
</script> 
{% endblock %}
