{% extends "layout_default.html.twig" %}
{% block meta_title %}{{ 'Proxmox servers' | trans }}{% endblock %}
{% set active_menu = 'system' %}

{% block content %}
<div class="widget simpleTabs">

    <ul class="tabs">
        <li><a href="#tab-index">{{ 'Servers' | trans }}</a></li>
        <li><a href="#tab-new-server">{{ 'New server' | trans }}</a></li>
    </ul>

    <div class="tabs_container">
        <div class="fix"></div>
        <div class="tab_content nopadding" id="tab-index">

		    {% set servers_grouped = admin.serviceproxmox_server_get_list() %}
            {% for group in servers_grouped %}
            <div class="help">
                <h5>{{ 'Servers' | trans }}: <strong>{{group.group}}</strong> group</h5>
            </div>

            <table class="tableStatic wide">
                <thead>
                    <tr>
                        <th>{{ 'ID' | trans }}</th>
						<th>{{ 'Name' | trans }}</th>
                        <th>{{ 'Hostname/IP' | trans }}</th>
						<th>{{ 'Slots' | trans }}</th>
                        <th>{{ 'Active' | trans }}</th>
                        <th style="width:22%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>

						{% for server in group.servers %}
                    <tr>
                        <td>{{server.id}}</td>
						<td>{{server.name}}</td>
                        <td><a href="https://{{server.access}}:8006" target="_blank">{{server.hostname}} {{server.ipv4}} {{server.ipv6}}</a></td>
						<td>{{ server.used_slots }}/{{ server.slots }}</td>
                        <td>{{ mf.q(server.active) }}</td>
                        <td class="actions">
                            <a class="bb-button btn14" href="https://{{server.access}}:8006" target="_blank"><img src="images/icons/dark/cog.png" alt=""></a>
                            <a class="bb-button btn14 api-link" data-api-msg="Connected" href="{{ 'api/admin/serviceproxmox/server_test_connection'|link({'id' : server.id}) }}" title="Test connection"><img src="images/icons/dark/signal.png" alt=""></a>
							<a class="bb-button btn14" href="{{ '/serviceproxmox/server'|alink }}/{{server.id}}"><img src="images/icons/dark/pencil.png" alt=""></a>
                            <a class="bb-button btn14 bb-rm-tr api-link" data-api-confirm="Are you sure?" data-api-redirect="{{ 'serviceproxmox'|alink }}" href="{{ 'api/admin/serviceproxmox/server_delete'|link({'id' : server.id}) }}"><img src="images/icons/dark/trash.png" alt=""></a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7">{{ 'The list is empty' | trans }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                </tfoot>
            </table>

		{% endfor %}
        </div>
		
		
        <div class="tab_content nopadding" id="tab-new-server">
            <form method="post" action="admin/serviceproxmox/server_create" class="mainForm api-form" data-api-redirect="{{ 'serviceproxmox'|alink }}">
                <fieldset>
                    <div class="rowElem noborder">
                        <label>{{ 'Name' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="name" value="" required="required" placeholder="{{ 'Unique name to identify this server' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					<div class="rowElem">
                        <label>{{ 'Group' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="group" value="" placeholder="{{ 'Server group' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					<div class="rowElem">
                        <label>{{ 'IPv4' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="ipv4" value="" placeholder="{{ 'IPv4 address of the server' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					<div class="rowElem">
                        <label>{{ 'IPv6' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="ipv6" value="" placeholder="{{ 'IPv6 address of the server' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
                    <div class="rowElem">
                        <label>{{ 'Hostname' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="hostname" value="" placeholder="{{ 'server1.yourserverdomain.com' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					<div class="rowElem">
                        <label>{{ 'Proxmox user realm' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="realm" value="" placeholder="{{ 'pam' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					<div class="rowElem">
                        <label>{{ 'Slots' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="slots" value="" required="required" placeholder="{{ 'Maximum number of accounts on this server' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
                    <div class="rowElem">
                        <label>{{ 'Root user' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="root_user" required="required" value="root" placeholder="{{ 'Root username' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
                    
                    <div class="rowElem">
                        <label>{{ 'Root Password' | trans }}:</label>
                        <div class="formRight">
                            <input type="password" name="root_password" required="required" value="" placeholder="{{ 'Root password of the server' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>
					
					<div class="rowElem">
                        <label>{{ 'Extra config' | trans }}:</label>
                        <div class="formRight">
                            <input type="text" name="config" value="" placeholder="{{ 'extra config' | trans }}">
                        </div>
                        <div class="fix"></div>
                    </div>

                    <div class="rowElem">
                        <label>{{ 'Enable/Disable' | trans }}:</label>
                            <div class="formRight">
                                <input type="radio" name="active" value="1" checked="checked"/><label>{{ 'Enable' | trans }}</label>
                                <input type="radio" name="active" value="0"/><label>{{ 'Disable' | trans }}</label>
                            </div>
                        <div class="fix"></div>
                    </div>
					
					<input type="submit" value="{{ 'Add server' | trans }}" class="greyishBtn submitForm" />
                </fieldset>
            </form>
        </div>

    </div>
</div>



{% endblock %}